[100]
type=endpoint
transport=transport-v4udp
context=default
disallow=all
allow=ulaw,alaw
auth=100
aors=100

[100]
type=auth
auth_type=userpass
username=100
password=piyo

[100]
type=aor
max_contacts=1
remove_existing=yes
