[2525]
type=endpoint
transport=transport-v4udp
context=default
disallow=all
allow=ulaw,alaw
auth=2525
aors=2525

[2525]
type=auth
auth_type=userpass
username=2525
password=niconico

[2525]
type=aor
max_contacts=1
remove_existing=yes
