; YAMAHA RT58i 向けの config
;
; 内線番号は 2525 となる前提で記述しています
;

[2525]
type=endpoint
transport=transport-v4udp
context=default
dtmf_mode=auto
disallow=all
allow=ulaw,alaw
allow=gsm
allow=ilbc
language=jp
auth=2525
aors=2525

[2525]
type=auth
auth_type=userpass
username=2525
password=niconico

[2525]
type=aor
max_contacts=1
qualify_frequency=0
